// This is here really just to match the old default
// TODO: do other light backgrounds
$body-bg:              #f2f2f2 !default;
$chart-title-weight:   500 !default;
$nav-tabs-font-weight: 500 !default;
